.alder {
    margin-left:40%;
    margin-right:50%;
    background-color:#bfbfbf;
}
.alder1 {
    margin-left:40%;
    margin-right:40%;
}
body {
    background-color:#808080;
}
.image {
    margin-left:40%;
}
.text {
    margin-left:40%;
    margin-top:20%;
}